<!doctype html>

<html lang ="en">
<head>
    <title>Online learning platform</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    <div id="container">

    <!-- Use the header area for the website name or logo -->
     <header>

        <img src="../static/images/logo.png" alt="Online learning platform logo" style="max-height: 100%; width: auto;">
    </header>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/course">Course</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/logout">Logout</a></li>
         </ul>

    </nav>
    </div>

    <main>
    </main>

    <footer><br>
        <p>&copy; Copyright 2022. All Rights Reserved.</p>
        <p><a href="jiahao.song@my.jcu.edu.au">jiahao.song@my.jcu.edu.au</a></p>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>