<!doctype html>
<html lang="en">
<head>
    <title>Feedback Submitted</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-links">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign up</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/course">Course</a></li>
            <li><a href="/contact">Feedback</a></li>
        </ul>
        <div class="logo">
            <img src="../static/images/logo.png" alt="Online learning platform logo" style="width: 80px; height: auto;">
        </div>
    </nav>
</header>

<main>
    <div id="form">
        <h2>Feedback Submitted Successfully!</h2>
        <p>Thank you for your feedback.</p>
        <a href="/contact"><button class="btn">Return</button></a>
    </div>
</main>

<footer>
    <p>&copy; Copyright 2022. All Rights Reserved.</p>
    <p><a href="mailto:jiahao.song@my.jcu.edu.au">jiahao.song@my.jcu.edu.au</a></p>
</footer>
</body>
</html>
