body, header, nav, main, footer, h1, div, img, ul {
    margin:0;
    padding:0;
    border:0;
  }
  body{
    background-color:#000;
  }
  
  img{
    max-width: 100%;
    display: block;
  }
  /* Style rules for mobile viewport */
  header{
        position:-webkit-sticky;
        position: sticky;
        top: 0;
        background-color:#000;
        height: 100px;
  }
  
  header img{
    margin:0 auto;
  }
  
  #logo {
      position: absolute;
      top: 20px; 
      left: 20px; 
      color: rgb(104, 175, 216); 
      font-size: 2vw; 
      
      
  }
  
  /* Style rules for hamburger menu */
  .mobile-nav a{
      color: #2bda91;
      font-family: 'Francois One', sans-serif;
      text-align: center;
      font-size: 2em;
      text-decoration: none;
      padding: 3%;
      display: block;
  }
  .mobile-nav a.menu-icon{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
  }
  .mobile {
      display: block;
  }
  
  .tablet-desktop, #menu-links{
      display: none;
  }
  @media screen and(min-width: 630px) {
      .tablet-desktop{
          display: block;
      }
  
      .mobile, .mobile-nav, .mobile-nav a.menu-con{
          display: none;
      }
  }
  
  
  nav{
      padding: 1%;
      margin-bottom: 1%;
  }
  
  nav ul {
      list-style-type: none;
      text-align: center; 
  }
  nav li {
      font-size: 1.5em;
      font-family:'Francois One',sans-serif;
      border-top: 1px solid#f5e9e9;
  }
  
  nav li a {
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 0.5em 1em;
      text-decoration: none;
  }
  .mobile{
      display: block;
  }
  
  
  .tablet-desktop{
      display: none;
  }
     
  
  main {
      clear: left;
      background-color:#000;
      padding: 2%;
      font-size: 1.25em;
      font-family: 'Roboto Slab', serif;
      color: #f2f2f2;
  }
  
  
  .tel-link{
      background-color: #6c7da1;
      padding: 2%;
      margin: 0 auto;
      width: 80%;
      text-align: center;
      border-radius: 5px;
  }
  
  .tel-link a{
      color: rgb(209, 160, 95);
      text-decoration: none;
      font-size: 1.5em;
      display: block;
  }
  
  .fax-link{
      background-color: rgb(209, 160, 95);
      padding: 2%;
      margin: 0 auto;
      width: 80%;
      text-align: center;
      border-radius: 5px;
  }
  .fax-link a{
      color:#6c7da1;
      text-decoration: none;
      font-size: 1.5em;
      display: block;
  
  }
  
  
  .action {
      font-size: 1.35em;
      color: #eb1c1c;
      font-weight: bold;
  }
  
  #value {
      clear: both; 
      text-align: center;
  }
  
  
  .button {
      background-color: #f2f2f2; 
      color: #d13636; 
      padding: 10px 20px; 
      text-decoration: none; 
      border-radius: 5px; 
  }
  
  .button:hover {
      background-color: #df5938; 
      color: #f2f2f2; 
  }
  
  
  
  #information {
      clear: left;
      background-color: #000;
      padding: 1% 2%;
      color: #f2f2f2;
      display: flex;
      align-items: center;
      flex-direction: column; 
      text-align: center; 
  }
  
  .image-container img {
      height: auto;
      max-width: 100%;
      margin-bottom: 20px; 
  }
  
  .information-title {
      margin-bottom: 10px; 
  }
  
  
  .image-with-text {
      overflow: hidden; 
  }
  
  .summary{
      color: #db3c44;
      font-size: 30px;
  
  }
  
  
  .service-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px; 
  }
  
  .service-text {
      flex: 1;
      padding: 20px;
  }
  
  .service-image {
      flex: 1;
      text-align: center; 
  }
  
  .left {
      order: 1; 
  }
  
  .right {
      order: 2; 
  }
  
  .service-container {
      display: flex;
      justify-content: space-between;
  }
  
  
  @media (max-width: 1500px) {
      .service-container {
          flex-direction: column; 
      }
      .service-text, .service-image {
          width: 95%; 
          align-items: center;
      }
      .service-text {
          order: 2; 
      }
      .service-image {
          order: 1; 
      }
  }
  
  
  
  
  
  
  /*Media Query for Tablet Viewport*/
  @media screen and (min-width:630px){
      /*Tablet Viewport: Show tablet-desktop class, hide mobile class */
      .tablet-desktop {
          display: block;
      }
      .mobile {
          display: none;
      }
      /*Tablet Viewport: Style header and navigation for tablets */
      header {
          height: 150px;
      }
      nav {
          padding: 1%;
          margin-bottom: 2%;
      }
      nav li {
          font-size: 1.75em;
      }
      /*Tablet Viewport: Increase font size for main content */
      main {
          font-size: 1.5em;
      }
      #value {
          font-size: 2em;
      }
      /*Tablet Viewport: Style buttons for tablets */
      .button {
          padding: 15px 30px;
      }
  }
  
  
  @media (min-width: 992px){
      header{
          position:-webkit-sticky;
          position: sticky;
          top: 0;
          background-color:#000;
          height: 150px;
      }
      
      header img{
        margin:0 auto;
      }
      
      #logo {
          position: absolute;
          top: 30px; 
          left: 30px; 
          color: rgb(104, 175, 216); 
          font-size: 2vw; 
          
          
      }
      
      /* Style rules for hamburger menu */
      .mobile-nav a{
          color: #2bda91;
          font-family: 'Francois One', sans-serif;
          text-align: center;
          font-size: 2em;
          text-decoration: none;
          padding: 3%;
          display: block;
      }
      .mobile-nav a.menu-icon{
          display: block;
          position: absolute;
          right: 0;
          top: 0;
      }
      .mobile {
          display: block;
      }
      
      .tablet-desktop, #menu-links{
          display: none;
      }
      @media screen and(min-width: 630px) {
          .tablet-desktop{
              display: block;
          }
      
          .mobile, .mobile-nav, .mobile-nav a.menu-con{
              display: none;
          }
      }
      
      
      nav{
          padding: 1%;
          margin-bottom: 1%;
      }
      
      nav ul {
          list-style-type: none;
          text-align: center; 
      }
      nav li {
          font-size: 1.5em;
          font-family:'Francois One',sans-serif;
          border-top: 1px solid#f5e9e9;
      }
      
      nav li a {
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 0.5em 1em;
          text-decoration: none;
      }
      .mobile{
          display: block;
      }
      
      
      .tablet-desktop{
          display: none;
      }
         
      
      main {
          clear: left;
          background-color:#000;
          padding: 2%;
          font-size: 1.25em;
          font-family: 'Roboto Slab', serif;
          color: #f2f2f2;
      }
      
      
      .tel-link{
          background-color: #6c7da1;
          padding: 2%;
          margin: 0 auto;
          width: 80%;
          text-align: center;
          border-radius: 5px;
      }
      
      .tel-link a{
          color: rgb(209, 160, 95);
          text-decoration: none;
          font-size: 1.5em;
          display: block;
      }
      
      .fax-link{
          background-color: rgb(209, 160, 95);
          padding: 2%;
          margin: 0 auto;
          width: 80%;
          text-align: center;
          border-radius: 5px;
      }
      .fax-link a{
          color:#6c7da1;
          text-decoration: none;
          font-size: 1.5em;
          display: block;
      
      }
      
      
      .action {
          font-size: 1.35em;
          color: #eb1c1c;
          font-weight: bold;
      }
      
      #value {
          clear: both; 
          text-align: center;
      }
      
      
      .button {
          background-color: #f2f2f2; 
          color: #d13636; 
          padding: 10px 20px; 
          text-decoration: none; 
          border-radius: 5px; 
      }
      
      .button:hover {
          background-color: #df5938; 
          color: #f2f2f2; 
      }
      
      
      
      #information {
          clear: left;
          background-color: #000;
          padding: 1% 2%;
          color: #f2f2f2;
          display: flex;
          align-items: center;
          flex-direction: column; 
          text-align: center; 
      }
      
      .image-container img {
          height: auto;
          max-width: 100%;
          margin-bottom: 20px; 
      }
      
      .information-title {
          margin-bottom: 10px; 
      }
      
      
      .image-with-text {
          overflow: hidden; 
      }
      
      .summary{
          color: #db3c44;
          font-size: 30px;
      
      }
      
      
      .service-container {
          display: flex;
          flex-direction: row;
          margin-bottom: 20px; 
      }
      
      .service-text {
          flex: 1;
          padding: 20px;
      }
      
      .service-image {
          flex: 1;
          text-align: center; 
      }
      
      .left {
          order: 1; 
      }
      
      .right {
          order: 2; 
      }
      
      .service-container {
          display: flex;
          justify-content: space-between;
      }
      
      
      @media (max-width: 1500px) {
          .service-container {
              flex-direction: column; 
          }
          .service-text, .service-image {
              width: 95%; 
              align-items: center;
          }
          .service-text {
              order: 2; 
          }
          .service-image {
              order: 1; 
          }
      }
  }
  
  
  
  
  /*Media Query for Desktop Viewport*/
  @media screen and (min-width: 992px){
      /*Desktop Viewport: Show tablet-desktop class, hide mobile class */
      .tablet-desktop {
          display: block;
      }
      .mobile {
          display: none;
      }
      /*Desktop Viewport: Style header and navigation for desktops */
      header {
          height: 200px;
      }
      nav {
          padding: 1%;
          margin-bottom: 2%;
      }
      nav li {
          font-size: 2em;
      }
      /*Desktop Viewport: Increase font size for main content */
      main {
          font-size: 2em;
      }
      #value {
          font-size: 2.5em;
      }
      /*Desktop Viewport: Style buttons for desktops */
      .button {
          padding: 20px 40px;
      }
  }
  
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f9f9f9;
      margin: 0;
      font-family: Arial, sans-serif;
  }
  
  .container {
      text-align: center;
      background-color: #fff;
      padding: 50px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
      color: #38D39F;
      font-size: 3em;
  }
  
  .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .login-form h2 {
      color: #333;
      margin-bottom: 20px;
      font-weight: normal;
  }
  
  .input-group {
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      justify-content: flex-end;
  }
  
  .input-group label {
      display: flex;
      align-items: center;
      background-color: #fff;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      width: 100%;
  }
  
  .input-group img {
      margin-right: 10px;
  }
  
  .input-group input {
      width: calc(100% - 40px);
      border: none;
      outline: none;
      font-size: 1em;
      padding: 10px;
  }
  
  .eye-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
  }
  
  .links {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
  }
  
  .links a {
      color: #999;
      text-decoration: none;
      font-size: 0.9em;
  }
  
  button {
      background-color: #000;
      color: #fff;
      border: none;
      padding: 15px 30px;
      font-size: 1em;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  button:hover {
      background-color: #333;
  }

.eye-icon {
    margin-top: -18px;
}