/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../images/login_background.jpg') no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 720px; /* Adjusted for two columns */
    color: #333;
    animation: slideDown 0.5s ease-out; /* Slide down animation */
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.header {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-control {
    flex: 1;
    margin-right: 20px; /* Space between columns */
    margin-bottom: 20px;
    position: relative;
}

.form-control:last-child {
    margin-right: 0;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], textarea {
    width: 100%;
    padding: 10px 10px 10px 30px; /* Adjusted left padding for icon */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

#fullname, #username {
    background-image: url('../images/user-icon.png');
}

#email {
    background-image: url('../images/email-icon.png');
}

#phone {
    background-image: url('../images/phone-icon.png');
}

#password, #confirm_password {
    background-image: url('../images/password-icon.png');
}

#city {
    background-image: url('../images/city-icon.png');
}

#zip {
    background-image: url('../images/postcode-icon.png');
}

textarea {
    padding: 10px; /* Normal padding for textareas */
    resize: none;
    height: 85px;
}

.btn.full-width {
    width: 100%; /* Adjust this percentage according to your preference */
    background-color: #ff8000;
    color: white;
    border: none;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #e67300;
}

.extra-links {
    text-align: center;
    margin-top: 20px;
}

.extra-links a {
    color: #007bff;
    text-decoration: none;
    font-size: 12px; /* Adjust the font size for "Login later" */
}
