<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudySync - Courses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}">
    <script src="{{ url_for('static', filename='js/course.js') }}" defer></script>
</head>
<body>
<header>
    <nav>
        <ul class="nav-links">
            {% if 'user' in session %}
            <li><a href="/logout">Logout</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign up</a></li>
            {% endif %}
            <li><a href="/">Home</a></li>
            <li><a href="/course">Courses</a></li>
            <li><a href="/contact">Feedback</a></li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Search">
        </div>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="StudySync Logo" style="width: 80px; height: auto;">
        </div>
    </nav>
</header>

<main>
    <section class="created-courses">
        <h2>Courses I Joined</h2>
        <div style="height: 20px;"></div>
        <div class="courses-container" id="created-courses">
            {% if not joined_courses %}
            <div id="no-courses-message" class="no-courses-message">You haven't added any courses yet, join us!</div>
            {% else %}
            {% for course in joined_courses %}
            <div class="course course-{{ course.course_name | replace(' ', '_') | lower }}" data-course-name="{{ course.course_name }}">
                <h3>{{ course.course_name }}</h3>
                <p>{{ course.course_content }}</p>
                <button class="leave" onclick="leaveSession(this)">Leave Session</button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>
    <section class="courses-section">
        <h2>Available Courses</h2>
        <div style="height: 20px;"></div>
        <div class="courses-container" id="available-courses">
            {% if not courses %}
            <div id="no-available-courses-message" class="no-available-courses-message">There are no more classes, so stay tuned!</div>
            {% else %}
            {% for course in courses %}
            <div class="course course-{{ course.course_name | replace(' ', '_') | lower }}" data-course-name="{{ course.course_name }}">
                <h3>{{ course.course_name }}</h3>
                <p>{{ course.course_content }}</p>
                <button class="join" onclick="joinSession(this)">Join Session</button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>
</main>

</body>
</html>
